* {
    text-decoration: none;
    box-sizing: border-box;
  }
  
  body nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
  body {
    font-family: Arial, sans-serif;
    background-image: url('WBG_Mystical_Wallpapers_Hogwarts_16x9_03_LA-1200x900.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    padding: 20px;
  }
  
  nav { 
    padding: 0 20px;
    border-radius: 40px;
    box-shadow: 0 10px 40px rgba(174, 177, 159, 0.8);
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    position: relative;
    margin-top: 20px;
  }
  
  .nav-item {
    color: #83818c;
    font-family: "Poppins", sans-serif;
    padding: 20px;
    margin: 0 6px;
    position: relative;
  }
  
  .nav-item::before {
    content: "";
    position: absolute;
    bottom: -6px;
    height: 5px;
    width: 100%;
    border-radius: 8px 8px 0 0;
    left: 0;
    transition: 0.3s;
  }
  
  .nav-item:not(.is-active):hover:before {
    bottom: 0;
  }
  
  .nav-item:not(.is-active):hover {
    color: #333;
  }
  
  .nav-indicator {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    transition: 0.4s;
    border-radius: 8px 8px 0 0;
  }
  .characters-section {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .character-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .character-card {
    background-color: #dfe5c2;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .character-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto 10px;
    display: block;
  }
  
  .character-name {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
  }
  
  .character-details {
    font-size: 14px;
    color: #666;
    text-align: center;
  }